<div class="signup-box">
  <h2>User Signup</h2>
  <form [formGroup]="userSignupForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="user-box col">
        <input type="text" formControlName="email" required="" />
        <label>Email</label>
      </div>
      <div class="user-box col">
        <input type="password" formControlName="password" required="" />
        <label>Password</label>
      </div>
    </div>
    <div class="row">

      <div class="user-box col">
        <input type="text" formControlName="fullname" required="" />
        <label>Full Name</label>
      </div>
      <div class="user-box col">
        <input type="text" formControlName="phone" required="" />
        <label>Phone</label>
      </div>
    </div>
    <div class="row">
      <div class="user-box">
        <input type="text" formControlName="avatar" required="" />
        <label>Image</label>
      </div>

      <div class="user-box col">
        <input type="text" formControlName="city" required="" />
        <label>City</label>
      </div>
    </div>
    <label> Date of Birth: </label>
    <div class="row">
      <div class="user-box col">
        <input type="date"style="color: white" formControlName="dateOfBirth" required="" />
        <label></label>
      </div>


    </div>

      <button type="submit" [disabled]="!userSignupForm.valid">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
  </form>
</div>
